@import "../shared/mixins";
.play-btn{
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  @include translate3D(-50%, -50%, 0);
  @include transition(opacity 0.3s);
  opacity: 0.8;
  font-size: 2.5em;
  padding:0.4em;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}