.play-wrapper{
  float: left;
  width: 15%;
  .fa{
    cursor: pointer;
  }
}

.song-info{
  float: left;
  width: 85%;
  padding: 0.2em 0 0 0.5em;
}

.trackName{
  font-size: 1.3em;
}
.artistName{
  font-size: 0.8em;
}