$mobileBreak: 769px;
.play-wrapper{
  display: inline-block;
  width: 30px;
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
  vertical-align: top;
  .fa{
    cursor: pointer;
  }
}

.song-info{
  display: inline-block;
  width: calc(100% - 40px - 0.5em);
  height: 6.8em;
  font-size: 0.9em;
  text-shadow: 0 0 5px rgba(0,0,0,0.8);
  overflow: hidden;
  @media screen and (min-width: $mobileBreak) {
    height: auto;
    font-size: 1em;
    padding: 0.2em 0 0 0.5em;
  }


}

.trackName{
  font-size: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  @media screen and (min-width: $mobileBreak) {
    ont-size: 1.3em;
  }
}
.artistName{
  font-size: 0.8em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
