<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <link href="/homepage.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all"  rel="stylesheet" type="text/css"/>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
  <link rel="manifest" href="/json/manifest.json">
  <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#4c2d46">
  <meta name="apple-mobile-web-app-title" content="MSCLVR">
  <meta name="application-name" content="MSCLVR">
  <meta name="msapplication-config" content="/xml/browserconfig.xml" />
  <meta name="msapplication-TileColor" content="#4c2d46">
  <meta name="msapplication-TileImage" content="/icon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>




  <app>
    Loading...
  </app>


  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  </body>
</html>
