<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>


  <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=456829841160778";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
   <!--<script>-->
  <!--window.fbAsyncInit = function() {-->
    <!--FB.init({-->
      <!--appId      : '456829841160778',-->
      <!--xfbml      : true,-->
      <!--version    : 'v2.8'-->
    <!--});-->
    <!--FB.AppEvents.logPageView();-->
  <!--};-->

  <!--(function(d, s, id){-->
     <!--var js, fjs = d.getElementsByTagName(s)[0];-->
     <!--if (d.getElementById(id)) {return;}-->
     <!--js = d.createElement(s); js.id = id;-->
     <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
     <!--fjs.parentNode.insertBefore(js, fjs);-->
   <!--}(document, 'script', 'facebook-jssdk'));-->
<!--</script>-->


  <app>
    Loading...
  </app>


  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
