@import "../reset";
@import "../shared/fonts";
.countdown-wrapper{
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  a{
    color:#FFF;
    vertical-align:baseline;
    vertical-align:-webkit-baseline-middle;

  }
  span{
    vertical-align: middle;
  }
  i{
    vertical-align:baseline;
  }
}