<div class="homepage">
  <div class="album-bg" [style.backgroundImage]="bgImage() | styleSafe"></div>
  <div class="apple-top"><i class="fa fa-apple" aria-hidden="true"></i></div>

  <div class="song-wrapper" *ngIf="promotion">
    <div class="follow-wrapper">
      <div>{{promotion?.callsToAction?.message}}</div>
      <div class="follow-buttons">
        <span class="social-icon {{socialChannel()}}-color"><i class="fa fa-{{socialChannel()}}-square"
                                                               aria-hidden="true"></i></span>
        <span *ngIf="socialChannel() === 'facebook'" id="fb-like-wrapper">
          &nbsp; Like {{promotion?.artistName}} on Facebook <br/>

          <iframe name="f317ee109936f6" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="fbLikeUrl() | safeSrc" style="border: none; visibility: visible; width: 63px; height: 28px;" class=""></iframe>

        </span>

        <span *ngIf="socialChannel() === 'twitter'">
          &nbsp; Follow {{promotion?.artistName}} on Twitter <br/>
          <a class="twitter-follow-button" href="https://twitter.com/TwitterDev" data-show-count="false" data-size="large">Follow @TwitterDev</a>
        </span>
        <span *ngIf="socialChannel() === 'youtube'">

          <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div>
        </span>



      </div>
      <div class="itunes-link"><a [href]="promotion?.iTunesLink">No Thank you - please take me to iTunes</a></div>
      <countdown [redirectLink]="promotion?.iTunesLink" [countTime]="20"></countdown>


    </div>
  </div>
  <div class="itunes-wrapper" *ngIf="promotion">
    <div class="itunes">
      <a [href]="promotion?.iTunesLink"><img [src]="itunesBadge"/></a>
    </div>
  </div>

  <div class="song-wrapper" *ngIf="!promotion">
    <div class="error"> Error: Promotion Missing. <br/><br/>
      <a href="https://msclvr.com/">back to msclvr</a>
    </div>
  </div>

</div>
