@import "../reset";
@import "../shared/mixins";
@import "../shared/colors";
@import "../shared/fonts";

$imageWidth: 14em;
$imageWidthMobile: 8em;
$mobileBreak: 769px;

.table {
  display: table;
  height: 100%;
}

.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.float-left {
  float: left;
}

.mobile-only{
  @media screen and (min-width: $mobileBreak) {
    display: none;
  }
}

.desktop-only{
  display: none;
  @media screen and (min-width: $mobileBreak) {
    display: block;
  }
}

.clearfix{
  clear: both;
}

.text-center{text-align: center;}

.homepage {
  position: relative;
  height: 100%;
  //background: #eee url(../../assets/img/msclvr-bg.png) right bottom;
  //@include background-size(cover);
  background-color: #aaa;
  .album-bg {
    position: absolute;
    min-height: 100%;
    @include background-size(cover);
    background-position: center center;
    @include blur(25px);
    width: calc(100% + 30px);
    margin-left: -15px;

  }

  .song-wrapper {
    position: relative;
    padding: 2em 1em;
    @media screen and (min-width: $mobileBreak) {
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate3D(-50%, -50%, 0);
      min-width: 300px;
      max-height: 65%;
      overflow: auto;
      max-width: 90%;
    }
  }

  .album-image {
    @include background-size(cover);
    background-position: center center;
    width: $imageWidthMobile;
    height: $imageWidthMobile;
    @include fm-border-radius;
    float: left;
    @media screen and (min-width: $mobileBreak) {
      width: $imageWidth;
      height: $imageWidth;
    }
  }

  .album-content {
    position: relative;
    width: 100%;
    background-color: rgba(58, 52, 53, 0.7);
    color: #FFF;
    padding: 1.5em 1em;
    text-align: center;
    margin-top: 2em;
    @include fm-border-radius;

    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    @media screen and (min-width: $mobileBreak) {
      width: calc(100% - 1em - #{$imageWidth});
      height: $imageWidth;
      float: left;
      padding: 0.5em 1em;
      margin-left: 1em;
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 0em;
    }
  }

  .follow-buttons {
    margin-top: 2em;
  }

  .player-wrapper {
    width: calc(100% - #{$imageWidthMobile});
    padding: 0 0 1em 1em;
    color: #FFF;
    float: left;

    @media screen and (min-width: $mobileBreak) {
      padding: 1em 0 1em 1em;
      width: 100%;
      clear: both;
      border-bottom: solid 1px #3a3435;
    }

  }

  .timer-wrapper {
    width: 100%;
    padding-top: 2em;
    color: #FFF;
    font-size: 0.8em;
    @media screen and (min-width: $mobileBreak) {
      width: calc(100% - 1em - #{$imageWidth});
      padding-top: 2em;
      margin-left: 1em;
      float: left;
      font-size: 1em;
    }
  }

  .itunes-wrapper {
    text-align: left;
    width: 5em;
    img{
      width: 100%;
      height:auto;
    }

    @media screen and (min-width: $mobileBreak) {
      width: $imageWidth;
      float: left;
      margin-top: 2em;
      img{
        width: auto;
        height:auto;
      }
    }
  }

  .error {
    padding: 1.5em 2.5em;
    background-color: white;
    @include box-shadow(0px, 0.2em, 0.4em, 0px, rgba(0, 0, 0, 0.8));
    @include fm-border-radius;
    text-align: center;
    min-width: 300px;
    max-height: 65%;
    overflow: auto;
    line-height: 1.6;

    h1 {
      font-size: 2.5em;
      color: red;

    }

    .error-text {
      float: left;
      width: 100%;
      padding: 1em;
      @media screen and (min-width: $mobileBreak) {
        width: calc(60% - 2em);
      }
    }
    .error-img {
      float: left;
      width: 100%;
      height: 12em;
      padding: 1em;
      background: url(//assets.msclvr.co/img/404.jpg) center center no-repeat;
      @include background-size(contain);
      @media screen and (min-width: $mobileBreak) {
        width: calc(40% - 2em);
      }

    }

    a {
      font-size: 1.2rem;
      color: black;
    }
  }

  .youtube-click-track-wrapper {
    width: 100%;
    height: 40px;
    left: 0;
    position: absolute;
    text-align: center;
    margin-top: -40px;
    .youtube-click-track {
      width: 150px;
      height: 40px;
      display: inline-block;
      background: #FFF url(//assets.msclvr.co/img/yt-logo.png) center center no-repeat;
      @include background-size(contain);
      @include fm-border-radius;
      cursor: pointer;

      &.facebook-track {
        background: #FFF url(http://msclvr.tomeralmog.com/assets/img/fb-logo.png) center center no-repeat;
        @include background-size(contain);
      }

    }
  }

  .loading-text{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }

  .bottom-logo{
    position: fixed;
    bottom:2.5em;
    height: 3em;
    width: 100%;
    text-align: center;
    img{
      height: 3em;
    }
    @media screen and (min-width: $mobileBreak) {
      bottom:1.5em;
    }
  }
}
