<div class="homepage">
  <div class="hero" [style.backgroundImage]="'url(' + promotion?.albumArtUrlLarge + ')'  | styleSafe"></div>
  <div class="apple-top"><i class="fa fa-apple" aria-hidden="true"></i></div>

  <div class="song-wrapper">
    <div class="album-img float-left"
         [style.backgroundImage]="'url(' + promotion?.albumArtUrlLarge + ')'  | styleSafe">
      <div class="play-btn"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
    </div>
    <div class="album-detail float-left">
      <div class="artist-name">{{ promotion?.artistName }}</div>
      <div class="track-name">{{ promotion?.trackName }}</div>
      <div class="collection-name">{{ promotion?.collectionName }}</div>
    </div>
    <div class="itunes"><a [href]="promotion?.iTunesLink"><img [src]="itunesBadge"/></a></div>
  </div>



</div>
